<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR</title>
</head>
<body>
    <h1>OCR</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
    </form>
    <div id="result"></div>
    <script>
        const form = document.getElementById('uploadForm');
        const resultDiv = document.getElementById('result');

        form.addEventListener('submit', async (e) => {
            e.preventDefault(); // prevent page reload

            const fileInput = document.getElementById('file');
            const formData = new FormData();
            formData.append('file', fileInput.files[0]);

            try {
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });

                resultDiv.textContent = 'Upload successful. Translating now the image... Please wait.'

                window.location.href = '/identify'
            } catch (err) {
                resultDiv.textContent = 'Upload failed: ' + err;
            }
        });
    </script>
</body>
</html>

