name: Frontend CI

on:
  pull_request:
    branches: [main]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build services
        run: docker compose build

      - name: Run frontend lint
        run: docker compose run --rm ocr-frontend-service npm run lint
      
      - name: Ensure .next directory is writable
        run: docker compose run --rm ocr-frontend-service mkdir -p .next && chmod -R 777 .next

      - name: Run frontend build
        run: docker compose run --rm ocr-frontend-service npm run build